{% extends '_base.html' %}

{% block page_title %}جزئیات کتاب {{ book.title }} {% endblock page_title %}


{% block content %}

    <h1>{{ book.title }}</h1>
    <p>{{ book.author }}</p>
    <p>{{ book.description }}</p>
    <p>{{ book.price }}</p>
    <p>{{ book.translator }}</p>
    <p>{{ book.publisher }}</p>
    <p>{{ book.year_of_publication }}</p>
    <p>{{ book.number_of_pages }}</p>
    <p>{{ book.language }}</p>

    <a href="{% url 'book_list' %}">لیست کتاب ها</a>

{% endblock content %}
